@import "vendor/normalize";

@import "bourbon";
@import "neat";
@import "base/base";

@import "global";

/**
* Map Container
**/
#map-canvas{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
}

/**
* Header
**/
.header{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
}

#show__geo{
  padding-top: 16px;
}


/**
* Footer of sorts
**/
.attribution{
  position: absolute;
  right: 25px;
  bottom: 15px;
}
